.app {
    display: grid;
}

body {
    background-color: coral;
}

.container {
    display: grid;
    word-wrap: break-word;
    width: 200px;
    height: 100px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
}

.ul {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
}